<form class="task-wrapper" [formGroup]="form">
    <input type="text" formControlName="title">
    <input type="text" formControlName="description">
    <input type="date" formControlName="dueDate">

    @if (!isCreateMode) {
        <div class="buttons-container">
            <button class="button delete-button"
                (click)="onDeleteButtonClick()">
                Delete
            </button>
            @if (!task.isCompleted) {
                <button class="button mark-as-completed-button" (click)="onMarkAsCompletedButtonClick()">
                    Mark as completed
                </button>
            }
        </div>
    }

    <button class="button" (click)="onSaveChangesButtonClick()">Save changes</button>
</form>
